@media screen and (max-width: 479px) {

 .header {
    width:375px;
    height:100px;
 }   

 .left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right {
    width: 225px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}

.footer {
    width: 375px;
    height: 100px;
    background-color: #d98d30;
}
}

 